<div [ngClass]="{ dark: isDarkEnabled }">
  <nav class="bg-gray-800 dark:bg-gray-900">
    <div class="flex items-center justify-between h-16 p-2 pl-24">
      <div class="flex">
        <a
          routerLink="/"
          class="pr-12 text-white font-bold uppercase text-lg"
          >{{ title }}</a
        >
        <a
          routerLink="/statistics"
          class="ml-6 mx-4 text-white uppercase text-lg"
          >Statistics</a
        >
        <a routerLink="/news" class="mx-4 text-white uppercase text-lg">News</a>
        <a routerLink="/about" class="mx-4 text-white uppercase text-lg"
          >About</a
        >
      </div>
      <app-searchbar></app-searchbar>
      <button
        class="text-gray-300 hover:bg-gray-700 p-2 rounded-md text-sm font-medium"
        (click)="toggleMode()"
      >
        <span class="material-icons">
          {{ isDarkEnabled ? "light_mode" : "dark_mode" }}
        </span>
      </button>
    </div>
  </nav>
  <router-outlet></router-outlet>
</div>
